# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st

# Load in dataset

In [2]:
df = pd.read_csv('../final_data/metro_data.csv')

df.head()

,REGION,personal.income,Median.Rent,median.sale.price,Walkable,Unemployment,Purchase_power_100_dollars
0,Atlanta,64107,2113.0,357000.0,49.4,3.0,100.89
1,Austin,75119,1937.5,451250.0,50.0,3.7,99.96
2,Baltimore,71420,1981.5,325500.0,44.7,2.8,95.23
3,Boston,94082,3939.5,600000.0,74.3,3.3,91.17
4,Charlotte,65156,1923.5,365000.0,51.7,3.6,103.52

In [3]:
df

,REGION,personal.income,Median.Rent,median.sale.price,Walkable,Unemployment,Purchase_power_100_dollars
0,Atlanta,64107,2113.00,357000.0,49.4,3.0,100.89
1,Austin,75119,1937.50,451250.0,50.0,3.7,99.96
2,Baltimore,71420,1981.50,325500.0,44.7,2.8,95.23
3,Boston,94082,3939.50,600000.0,74.3,3.3,91.17
4,Charlotte,65156,1923.50,365000.0,51.7,3.6,103.52
5,Chicago,72512,2357.50,290000.0,65.9,5.3,94.86
6,Cincinnati,65253,1646.00,247000.0,40.0,4.1,106.00
7,Cleveland,62921,1471.25,179000.0,47.0,4.6,106.15
8,Dallas-Fort Worth,70493,2180.00,380000.0,38.9,4.2,96.29
9,Denver,84788,2677.00,556000.0,48.7,4.2,91.61
10,Detroit,61322,1619.75,230000.0,39.2,4.0,104.05
11,Houston,68344,1578.00,325000.0,46.6,4.6,100.26
12,Indianapolis,68719,1563.50,250000.0,36.4,3.7,105.23
13,Kansas City,63417,1686.25,279000.0,44.1,3.6,106.77
14,Las Vegas,59150,1666.00,415000.0,27.5,5.2,104.66
15,Los Angeles,76445,3587.25,920000.0,59.0,4.8,87.86
16,Miami,77732,3056.50,465000.0,54.2,2.5,90.97
17,Minneapolis-St. Paul,75164,1896.50,335000.0,54.4,3.3,96.54
18,Nashville,74035,1903.50,419900.0,43.5,2.2,104.68
19,New York,84084,4120.75,565000.0,100.0,4.7,87.28
20,Orlando,53959,2246.50,380000.0,32.4,3.2,100.19
21,Philadelphia,73291,2340.25,301250.0,55.1,3.8,100.80
22,Phoenix,61840,2182.25,449000.0,33.6,3.3,100.83
23,Pittsburgh,65792,1800.75,192500.0,57.2,3.6,105.09
24,Portland,69435,2333.00,515000.0,68.5,4.8,94.90
25,Sacramento,66940,2614.25,542000.0,40.4,5.2,94.08
26,St. Louis,69698,1680.50,218000.0,43.5,4.0,103.90
27,San Antonio,55180,1463.00,297000.0,29.4,4.1,103.76
28,San Diego,74326,3400.25,860000.0,37.0,4.7,86.84
29,San Francisco,123736,3788.75,1065000.0,66.2,4.4,83.45
30,Seattle,92113,2946.00,665000.0,69.4,4.7,87.28
31,Tampa,60091,2207.50,365000.0,35.4,3.3,101.04
32,Virginia Beach,57873,1826.00,309750.0,34.5,3.0,102.26
33,"Washington, DC",83010,2657.25,515000.0,72.6,3.0,89.82

In [4]:
!pip install geopy

Collecting geopy

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

  Obtaining dependency information for geopy from https://files.pythonhosted.org/packages/e5/15/cf2a69ade4b194aa524ac75112d5caac37414b20a3a03e6865dfe0bd1539/geopy-2.4.1-py3-none-any.whl.metadata
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Obtaining dependency information for geographiclib<3,>=1.52 from https://files.pythonhosted.org/packages/9f/5a/a26132406f1f40cf51ea349a5f11b0a46cec02a2031ff82e391c2537247a/geographiclib-2.0-py3-none-any.whl.metadata
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   ------------- -------------------------- 41.0/125.4 kB ? eta -:--:--
   ---------------------------------------- 125.4/125.4 kB 2.5 MB/s eta 0:00:00
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ---------------------------------------- 0.0/40.3 kB ? eta -:--:--
   ---------------------------------------- 40.3/40.3 kB ? eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1